/* custom styles */

body{
    margin: 2em auto;
    padding: 0 5em 8em 5em;
}
header.row{
    margin: 10px auto;
    padding: 5px;
    text-align: center;
    border: 2px solid #098F10;
    border-radius: 1em;
}

p{
    margin: 5px auto;
    padding: 2px;
}

#firstpar{
    border: 2px solid #098F10;
    border-radius: 1em;
}

footer.row{
    text-align: center;
}